---
---

@charset "utf-8";

// the font family for body text
$base-font-family: Times, "Times New Roman", serif;
// the font size every measurement is based off of
$base-font-size: 12pt;
$base-font-weight: 400;
$line-height: 1.25;

// dont mess with these ones
$breakpt-font: 31.25rem; // also for thumbnail size
$breakpt-center: 35.9375rem;  // also for thumbnail spacing

$body-font-size: 1rem;
$body-font-size-md: 1rem;

$header-font-size: 1.5em;

$text-color: #333;
$link-color: #79B0C1;
$background-color: #fff;

// spacing between inline list elements (i.e. the about pages bar)
$inline-li-spacing: 0.75em;

// spacings between headers and paragraphs and whatnot
$block-spacing: 0.5em;

// formatting spacings, should be self explanatory
$top-spacing: 1em;
$top-spacing-md: 4em;
$middle-spacing: 3em;
$bottom-spacing: 3em;

$subsec-spacing: 1.12em;
$subsec-spacing-md: 1.5em;
$subsec-spacing-small: 0.75em;
// spacing between images on project pages
$subsec-spacing-image: $subsec-spacing * 3;
$subsec-spacing-image-md: $subsec-spacing * 4.5;

// don't mess with these ones :P
$side-margin-by: 0.04;
$side-margin: 100% * $side-margin-by;

// the spacing between thumbnails
$spacing-thumbnails: $subsec-spacing * 1.5;
$spacing-thumbnails-md: $subsec-spacing * 2.33;
// the maximum height of thumbnails
$thumbnail-height: 100px;
$thumbnail-height-md: 150px;

// width of the sections at breakpt-center (92% of the breakpoint)
$max-width: $breakpt-center * 0.92;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
