/*Body*/
body {
    font-family: serif;
}


header {
    margin-top: 4%;
}


h4 {
    font-size: 1.75em;
    font-weight: normal; 
    text-transform: lowercase; 
    letter-spacing: 0.1em;
}

h5 {
    font-size: 1.25em;
}

ul {
    text-decoration: none;
}

a {
    color: #79B0C1;
    text-decoration: none;
}

.thumbnail {
    
}

.center {
    text-align: center;
}

.image img {
    width: 75%;
    text-align: center;
}

/*Menu*/
.menu {
    text-align: left;
}
.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    padding-right: 1em;
}

.menu a {
    font-size: 1.2em;
}

.row-two-offset {
    margin-left: 1.0em;
}

/*Nav*/
.nav {
    font-size: 1.25em;
}

.nav-top {
    
    margin-top: 4%;
    margin-bottom: 2.5em;
}

.nav-bottom {
    margin-top: 2.5em;
}

/*Images*/
.image-container {
    text-align: center;
    margin-bottom: 2.0em;
}

.image-block {
    display: inline-block;
}

.image img {
    width: 70%;
}

.hidden {
    display: none;
}