html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-color;
  color: $text-color;
  line-height: $line-height;
}

body {
  font-size: $body-font-size;
  @media (min-width: $breakpt-font) { font-size: $body-font-size-md; }
}


/* margin reset */

h1, h2, h3, h4, h5, h6, p,
blockquote, ul, fieldset,
form, ol, dl, dir, menu {
  margin: $block-spacing 0;
}

ol ol, ol ul, ul ol, ul ul {
  margin: initial;
}


/* header styling */

h1, h2, h3, h4, h5, h6 {
  font-size: $header-font-size;
  font-weight: normal;
}


/* list styling */

ul, ol {
  padding-left: 1em * 1.25;
}

.flat-list, .inline-list {
  padding-left: 0;
}

.flat-list > li {
  display: block;
}

.inline-list > li {
  display: inline-block;
  margin-right: $inline-li-spacing;
}


/* other basic styling */

img {
  max-width: 100%;
}

a {
  color: $link-color;
  font-style: italic;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
