.container {
    max-width: 1000px;
}

.navigation {
    padding-top: 30px;
    height: 100vh;
    position: relative;
}

.img-navigation {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    font-size: 0.9em;
}
    
.content {
    height: 100vh;
    overflow: scroll;
}

#paintings .content {
    height: 94vh;
    overflow: scroll;
}

#drawings .content {
    height: 94vh;
    overflow: scroll;
}

.image-container {
    height: 100%;
}

.image-container img {
    position: relative;
    width: auto;
    /* padding: 15px 15px; */
    top: 50%;
    transform: translateY(-50%);
 }

ul {
    list-style-type: none;
}

li {
    width: 100%;
    margin: .2em .5em;
}

li a {
    display: block;
    font-weight: 300;
    font-size: 1.0em;
    text-decoration:  none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    letter-spacing: .5px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.img-nav {
    text-align: right;
}

#about {
    padding-top: 80px;
}

#about p a {
    color: #1EAEDB;
}

a h3:hover {
    text-decoration: none;
    color: black;
}

a {
    text-decoration:  none;
    color: black;
}

/* Grid */

#paintings {
    padding-top: 30px;
    padding-bottom: 30px;
}

#drawings {
    padding-top: 30px;
    padding-bottom: 30px;
}

h6 {
    font-weight: 100;
    font-size: 1.1em;
}

/* Navigation */

.submenu {
    display: none;
}

.submenu ul {
    margin-top: .75em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* Text Size */
h3 {
    font-size: 1.3em;
}