/* Style */
li a {
    display: block;
    font-weight: 300;
    font-size: 1.0em;
    text-decoration:  none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

ul {
    list-style-type: none;
    display: inline-block;

}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    letter-spacing: .5px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.img-navigation {
    float: right;
}

.navigation {
    padding-top: 30px;
}

.img-nav {
    text-align: right;
}

#about p a {
    color: #1EAEDB;
}

a h3:hover {
    text-decoration: none;
    color: black;
}

a {
    text-decoration:  none;
    color: black;
}

.submenu {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#index .content {
    overflow: visible;
}


/* Text Size */
h3 {
    font-size: 1.3em;
}

/* Layout */
@media (min-width: 460px) {
    .img-navigation {
        float: none;
    }

    .container {
        max-width: 1000px;
    }
    
    .navigation {
        padding-top: 30px;
        height: 100vh;
        position: relative;
    }
    
    .img-navigation {
        position: absolute;
        padding-bottom: 30px;
        bottom: 0;
        font-size: 0.9em;
    }
        
    .content {
        height: 100vh;
    }
    
    #paintings .content {
        height: 94vh;
        overflow: scroll;
        overflow-x: visible;
    }
    
    #drawings .content {
        height: 94vh;
        overflow: scroll;
        overflow-x: visible;
    }
    
    .image-container {
        height: 100%;
    }
    
    .image-container img {
        position: relative;
        width: auto;
        /* padding: 15px 15px; */
        top: 50%;
        transform: translateY(-50%);
     }
    
    
    
    li {
        width: 100%;
        margin: .2em .5em;
    }
    
    
    
    
    
    #about {
        padding-top: 80px;
    }
    
    
    
    /* Grid */
    
    #paintings {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    #drawings {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    h6 {
        font-weight: 100;
        font-size: 1.1em;
    }
    
    /* Navigation */
    
    
    
    .submenu ul {
        margin-top: .75em;
    }
}
