---
layout: page
---

{% assign existsImages = false %}
{% capture imagesPath %}{{ page.url | append: "images/" }}{% endcapture %}

{% for f in site.static_files %}{% if f.path contains imagesPath %}
  {% assign existsImages = true %}
{% endif %}{% endfor %}

{% if existsImages %}
<ul class="subsec flat-list">
  {% for f in site.static_files %}{% if f.path contains imagesPath %}
  <li class="subsec-image"><a href="{{ f.path }}" class="swipebox"><img src="{{ f.path }}"/></a></li>
  {% endif %}{% endfor %}
</ul>
{% endif %}

<section class="subsec">
  {{ content }}
</section>
